# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


src/*.exe
src/opalcoin
src/opalcoind
src/test_opalcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.P
.opalcoin
*.directory

# Compilation and Qt preprocessor part
*.qm
Makefile
opalcoin-qt
OpalCoin-Qt.app

# Unit-tests
Makefile.test
opalcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile

src/obj/build.h
